      
<div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
          <div class="col-md-4 col-xl-4 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
              <div class="card-header">
                <div class="input-group">
                  <input type="text" placeholder="Buscar Match..." name="" class="form-control search">
                  <div class="input-group-prepend">
                    <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>
              <div class="card-body contacts_body"> <!-- HACER FOR EACH --> 
                <ui class="contacts">
                        
                        
                             @Html.Partial("_CargarMatch",(IEnumerable<Match>)ViewBag.lstMatch)
                       
                       
                </ui>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
          <div class="col-md-8 col-xl-8 chat">
            <div class="card">
              <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                      class="rounded-circle user_img">
                  </div>
                  <div class="user_info">
                    <span>Chat con Richard Rodas</span> <!-- NOMBNRE MATCH --> 
                  </div>
                </div>
                <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                <form class="action_menu" method="post" >
                  <input type="hidden" >
                  <ul>
                    <li>
                      <button class="btn" style="color :white"><i class="fas fa-user-circle"></i>Ver Perfil</button>
                    <li>
                      <button class="btn"  style="color :white"><i class="fas fa-trash"></i>Eliminar Match</button>
                    </li>
                  </ul>
                </form>
              </div>
              <div class="card-body msg_card_body">  
                        @Html.Partial("_CargarChat",(IEnumerable<Chat>)ViewBag.lstChat)
              </div>
              <div class="card-footer" >
                    @using (Html.BeginForm("EnviarMensaje", "BuscarAmistad", FormMethod.Post,new{@class="input-group"})){
                            @Html.Hidden("codHorario","")
                            @Html.TextArea("mensaje","",1,1,new{@class="form-control type_msg" ,@placeholder="Escribe un mensaje..."}) 
                           <button class="input-group-text send_btn input-group-append"><i class="fas fa-location-arrow"></i></button>
                                     
                    }
              </div>
            </div>
          </div>
        </div>

</div>